.Contact {
  position: absolute;
  left: 10%;
  top: 32vmin;
  width: 80vw;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.contactForm {
  width: 65%;
  max-width: 400vmax;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
}
.contactForm input,
button,
textarea {
  height: 50px;
  padding-left: 5px;
  background: var(--first-colour);
  border-radius: 30px;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 3vmin;
  padding: 5%;
}
.contactForm textarea {
  height: 100px;
}

.contactForm button {
  background: var(--second-colour);
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  color: var(--third-colour);
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkedIn, .gitHub {
width: 10vw;
}

.logos {
    display: flex;
  flex-direction: column;
  margin: auto;
  gap: 20px;
}
