.contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 10px auto;
}

.contact_header {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: var(--second-colour);
  padding: 0px 10px;
}

.contact_content {
  font-family: "Noto Sans";
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--fourth-colour);
  padding: 0px 10px;
}

.contact_name, .contact_email, .contact_message {
  width: 250px;
  background: var(--first-colour);
  border-radius: 30px;
  /* box-shadow: 1px 1px var(--second-colour); */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding: 8px;
  margin: auto;
}

.contact_message {
  height: 150px;
}

.contact_button {
  background: var(--second-colour);
  border-radius: 30px;
  width: 100px;
  color: var(--third-colour);
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin: auto;
}

@media screen and (min-width: 375px) {
  .intro {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .contact_content {
    font-size: 1rem;
  }
}
@media screen and (min-width: 468px) {
  .contact_content {
  font-size: 1rem;
  }
}
@media screen and (min-width: 568px) {
  .contact_content {
  font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .contact_content {
  font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .contact_content {
  font-size: 1.5rem;
  }
}
