@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

* {
  margin: 0;
  padding: 0;
}

:root {
  --first-colour: #a7dbd1;
  --second-colour: #337473;
  --third-colour: #ffffff;
  --fourth-colour: black;
}

h1 {
  padding-left: 1.5%;
  margin-top: 0vh;
  font-family: "Source Sans Pro";
  font-size: 10vmin;
  font-weight: bold;
  color: var(--second-colour);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  padding-left: 1.5%;
  font-family: "Source Sans Pro";
  font-size: 8vmin;
  font-weight: bold;
  color: var(--second-colour);
}

h3 {
  position: absolute;
  left: 10vw;
  margin-top: 30vh;
  font-family: "Source Sans Pro";
  font-weight: bold;
  color: var(--fourth-colour);
}

.inactive {
  text-decoration: none;
  color: var(--fourth-colour);
}

.active {
  color: var(--second-colour);
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1vh;
  padding-right: 1vw;
  font-size: 2.5vmin;
  font-family: "Noto Sans";
}

.navElipse {
  position: absolute;
  width: 60vw;
  top: 0vh;
  right: 0vw;
  z-index: -3;
}

.leftElipse {
  position: absolute;
  width: 50vw;
  height: 100vh;
  top: 0vh;
  left: 0vw;
  z-index: -2;
  opacity: .7;
}

.rightElipse {
  position: absolute;
  width: 50vw;
  height: 95vh;
  bottom: 0vh;
  right: 0vw;
  z-index: -1;
  opacity: .8;
}