@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

* {
  margin: 0;
  padding: 0;
}

:root {
  --first-colour: #a7dbd1;
  --second-colour: #337473;
  --third-colour: #ffffff;
  --fourth-colour: black;
}

h1 {
  padding-left: 1.5%;
  margin-top: -3%;
  font-family: "Source Sans Pro";
  font-size: 4.5vmax;
  font-weight: bold;
  color: var(--second-colour);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  padding-left: 1.5%;
  font-family: "Source Sans Pro";
  font-size: 3.5vmax;
  font-weight: bold;
  color: var(--second-colour);
}

h3 {
  position: absolute;
  left: 200px;
  margin-top: 10%;
  font-family: "Source Sans Pro";
  font-weight: bold;
  color: var(--second-colour);
}

.inactive {
  text-decoration: none;
  color: var(--fourth-colour);
}

.active {
  color: var(--second-colour);
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1vmin 1vmin;
  font-size: 2.5vmin;
  font-family: "Noto Sans";
}

.navElipse {
  box-sizing: border-box;

  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 30vw;
  top: -91vh;

  background: #a7dbd1;
  border: 10px solid #bde6db;
  border-radius: 100%;
  box-shadow: inset 20px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.leftElipse {
  box-sizing: border-box;

  position: absolute;
  width: 200vmin;
  height: 200vmin;
  left: -114vmin;
  top: -50vmin;

  border: 20px solid #b7e1da;
  border-radius: 100%;
  box-shadow: inset 20px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: -2;
}

.rightElipse {
  box-sizing: border-box;

  position: absolute;
  width: 200vmin;
  height: 200vmin;
  left: 85vmin;
  top: -60vmin;

  border: 20px solid #b5e2da;
  border-radius: 100%;
  box-shadow: inset 20px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: -3;
}
