@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

* {
  margin: 0;
  padding: 0;
}

:root {
  --first-colour: #a7dbd1;
  --second-colour: #337473;
  --third-colour: #ffffff;
  --fourth-colour: black;
}

.logo {
  position: absolute;
width: 40vw;
left: 1%;
top: 1%;
z-index: -2;
}

.inactive {
  text-decoration: none;
  color: var(--fourth-colour);
}

.active {
  color: var(--second-colour);
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2vh;
  padding-right: 1vw;
  font-size: 2.5vmin;
  font-family: "Noto Sans";
}

.navPaint {
  position: absolute;
  width: 50vmin;
  height: 10vh;
  top: -1vh;
  right: -2vw;
  z-index: -3;
}

/* Footer */
.footerAP {
  position:absolute;
  bottom:0;
  right:0;
}
.linkedInAP, .gitHubAP, .cvAP {
  width: 5vw;
  margin: 10px;
  }
