.intro {
  position: absolute;
  left: 10%;
  top: 32vmin;
  width: 80vw;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.introImage {
  width: 75%;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10%;
  margin: auto;
}

.introText {
  width: 85%;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 4vmin;
  text-align: right;
  padding: 5%;
  color: #000000;
  margin: auto;
}
