.intro {
  display: grid;
  margin: auto;
  gap: 24px;
  padding: 24px;
}

.intro__image {
  width: 100%;
  object-fit: cover;
  place-self: center;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
}

.intro__text {
  position: relative;
}

.intro__text__header {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 4.5vmin;
  text-align: left;
  color: var(--second-colour);
  align-self: start;
  justify-self: start;
  margin-bottom: 12px;
}

.intro__text__copy {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 3.3vmin;
  text-align: right;
  color: var(--fourth-colour);
  align-self: center;
}

.largePaint {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

@media only screen and (min-width: 300px) {
  
}

@media only screen and (min-width: 600px) {
  .intro {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}